{% extends "base/base_template.html" %}
  
{% block content %}
<div class="container" style="max-width: 600px;">
    <h1>About</h1>
    <p>
        MakeOpenSource is a collaborative open-source club 
        led by University at Buffalo computer science students. 
        Our club is dedicated to the development and deployment of 
        open-source software. Our goal is to develop unique and 
        intuitive ideas that will benefit the general public. All 
        projects created under the club will be available to 
        view, modify, and change given the restrictions of the 
        individual project's license.
    </p>

    <h2>Team</h2>
    <p>
        MakeOpenSource is recognized by University at Buffalo's
        Department of Computer Science and Engineering as a full-time
        Computer Science club. Our team is comprised of undergraduate 
        and graduate computer science students.
    </p>

    <h2>Get Involved</h2>
    <p>
        Current University at Buffalo Students can join the club through 
        our <a href="{% url 'join:index' %}">join portal</a>
    </p>
</div>
{% endblock %}
