{% extends "base/base_template.html" %}
  
{% block content %}
<div class="container" style="max-width: 600px;">
    <div class="row mb-3">
        <h1 class="mb-4">About</h1>
        <h5>We are University at Buffalo's Open-Source Club!</h5>
        <p class="text-secondary"> 
            Our club is dedicated to the development and deployment of 
            open-source software. All projects created under the club 
            will be available to view and modify given the restrictions 
            of each individual project's license.
        </p>
    </div>

    <div class="row mb-3">
        <h2>Software</h2>
        {% load static %}
        <div class="container p-2 mb-2 bg-light rounded">
            <a href="https://makeopensource.org">
                <img class="float-start m-2" style="max-height: 40px;" src="{% static 'assets/icons/icon.png' %}">
            </a>
            <a href="https://github.com/makeopensource">
                <img class="float-start m-2" style="max-height: 40px;" src="{% static 'assets/icons/github-logo.png' %}">
            </a>
            <a href="https://discord.com">
                <img class="float-start m-2" style="max-height: 40px;" src="{% static 'assets/icons/Discord-Logo-Black.png' %}">
            </a>
            <a href="https://drive.google.com/drive/folders/1GnSilJXrW8HiSsiGugIxQwXaOaFy1wT1?usp=sharing">
                <img class="float-start m-2" style="max-height: 40px;" src="{% static 'assets/icons/drive-logo.png' %}">
            </a>
            <a href="https://ubuffalo-my.sharepoint.com/:f:/g/personal/njbrown4_buffalo_edu/EjeA3pUstb1Hlmh6H2OS7poBdM2_90W4X4A00f4I2Ki90A?e=NEHxT9">
                <img class="float-start m-2" style="max-height: 40px;" src="{% static 'assets/icons/onedrive.png' %}">
            </a>
        </div>

        <ul>
        </ul>
    </div>

    <div class="row mb-3">
        <h2>Our Team</h2>
        <div class="mb-2">
            <img 
                class="bg-dark rounded-circle me-3" 
                style="width: 75px; height: 75px; float: left;" 
                src="{% static 'assets/staff/emilkovacev.jpg' %}" />
            <div>
                <b>Emil Kovacev</b>
                <p>
                    <span class="text-primary">President</span><br>
                    Computer Science BS
                </p>
            </div>
        </div>

        <div class="mb-2">
            <img 
                class="bg-dark rounded-circle me-3" 
                style="width: 75px; height: 75px; float: left;" 
                src="{% static 'assets/staff/nickbrown.jpg' %}" />
            <div>
                <b>Nick Brown</b>
                <p>
                    <span class="text-primary">Vice President</span><br>
                    Computer Science BA
                </p>
            </div>
        </div>

        <div class="mb-2">
            <img 
                class="bg-dark rounded-circle me-3" 
                style="width: 75px; height: 75px; float: left;" 
                src="{% static 'assets/staff/sammiller.jpg' %}" />
            <div>
                <b>Sam Miller</b>
                <p>
                    <span class="text-primary">Information Lead</span><br>
                    Biological Sciences BA
                </p>
            </div>
        </div>

        <div class="mb-2">
            <div class="bg-dark rounded-circle me-3" style="width: 75px; height: 75px; float: left;"></div>

            <div>
                <b>Anthony Radcliffe</b>
                <p>
                    <span class="text-primary">Head of Licensing</span><br>
                    Political Science BA
                </p>
            </div>
        </div>

        <div class="mb-2">
             <img 
                class="bg-dark rounded-circle me-3" 
                style="width: 75px; height: 75px; float: left;" 
                src="{% static 'assets/staff/adamrussell.jpg' %}" 
                />
            <div>
                <b>Adam Russell</b>
                <p>
                    <span class="text-primary">Events Coordinator</span><br>
                    Computer Science BS
                </p>
            </div>
        </div>

        <div class="mb-2">
            <img 
                class="bg-dark rounded-circle me-3" 
                style="width: 75px; height: 75px; float: left;" 
                src="{% static 'assets/staff/jakesavitt.png' %}" 
                />

            <div>
                <b>Jake Savitt</b>
                <p>
                    <span class="text-primary">Treasurer</span><br>
                    Computer Engineering BS
                </p>
            </div>
        </div>

    </div>

    {% comment %} <div class="row mb-3">
        <h2>Idealab</h2>
        <p>
            Idealab is a forum for new open-source project ideas. 
            If you would like to submit an idea, please fill out 
            the following form. Once the idea is approved it will 
            appear on the <a href="{% url 'idealab:index' %}">IdeaLab</a>
            webpage. Once ideas are approved and migrated, your idea will 
            officially be a project and will appear in the 
            <a href="{% url 'projects:index' %}">Projects</a> webpage.
        </p>
    </div>

    <div class="row mb-3">
        <h2>Projects</h2>
        <p>
            All Projects visible on the MakeOpenSource Github page are 
            open to contributions. Each project will have a contributions.txt 
            file to specify a contribution format unique to that project, to 
            ensure that submission adhere to existing formats.
        </p>
    </div> {% endcomment %}

    <div class="row">
        <h2>Get Involved</h2>
        <p>
            Current University at Buffalo Students can join the club through 
            our <a href="{% url 'join:index' %}">join portal</a>. For updates 
            on upcoming activities and events, join our Discord server. To check
             out our latest projects, take a look at our 
             <a href="https://github.com/makeopensource">GitHub</a> profile.
        </p>
    </div>

</div>
{% endblock %}
