<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}MakeOpenSource{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="{% block description %}MakeOpenSource is the University at Buffalo's official open-source software development club{% endblock %}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<script src="{{ url_for('static', filename='js/theme.js') }}"></script>
{% block base_content %}{% endblock %}
</body>
</html>