<!DOCTYPE html>
<html lang="en">
  <head>
	{% block title %}<title>MakeOpenSource</title>{% endblock %}
    
	{% load static %}

	<link rel="icon" type="image" href="{% static 'assets/favicon.ico' %}"/>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
		  rel="stylesheet"
		  ntegrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" 
		  crossorigin="anonymous">
  </head>

  <body>
    <!-- navigation -->

	<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
		<div class="container-fluid">
			<a class="navbar-brand" href="/">
      			<img src="{% static 'assets/icon.png' %}" alt="" width="30" height="30">
    		</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav ms-auto">
					<a class="nav-link" href="{% url 'join:index' %}"><span style="color: red">Join</span></a>
					<a class="nav-link" href="/discord">Discord</a>
					<a class="nav-link float-" href="{% url 'announcements:index' %}">Announcements</a>
					{% comment %} <a class="nav-link" href="{% url 'projects:index' %}">Projects</a> {% endcomment %}
					{% comment %} <a class="nav-link" href="{% url 'idealab:index' %}">IdeaLab</a> {% endcomment %}
					<a class="nav-link" href="/about">About</a>
				</ul>
			</div>
		</div>
	</nav>

	<div style="margin-top: 50px;">{% block content %}{% endblock %}</div>

	<!-- JavaScript Bundle with Popper -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
  </body>
</html>
