<!DOCTYPE html>
<html lang="en">
  <head>
	{% block title %}<title>MakeOpenSource</title>{% endblock %}
    
	{% load static %}
	<link rel="icon" type="image" href="{% static 'assets/favicon.ico' %}"/>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	{% load static %}
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
		  rel="stylesheet"
		  ntegrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" 
		  crossorigin="anonymous">
  </head>

  <body>
    <!-- navigation -->
    <ul id="bar-nav" class="mb-5">
		<li><a href="/">MakeOpenSource</a></li>
        <li><a href="{% url 'announcements:index' %}">Announcements</a></li>
		<li><a href="{% url 'projects:index' %}">Projects</a></li>
		<li><a href="{% url 'idealab:index' %}">IdeaLab</a></li>
		<li><a href="/about">About</a></li>
		<li><a href="{% url 'join:index' %}">Join</a></li>
	</ul>

	<div>{% block content %}{% endblock %}</div>

  </body>
</html>
