{% extends "base/base_template.html" %}

{% block content %}
<div class="container" style="max-width: 600px;">
	<h1>Join</h1>
	<p></p>
	
	<form action="/join/" method="post">
		{% csrf_token %}
		{% for field in form %}
			<div class="mb-3 col-10">
				{{ field.label_tag }} {{ field }}
				{% if field.help_text %}
					<p class="help">{{ field.help_text|safe }}</p>
				{% endif %}
			</div>
		{% endfor %}
		<div class="col-12">
			<input type="submit" value="Submit" class="btn btn-primary">
		</div>
	</form>
</div>

{% endblock %}
