{% extends 'layouts/main_layout.html' %}

{% block title %}{{ project.metadata.name }} | MakeOpenSource{% endblock %}
{% block description %}{{ project.metadata.description }}{% endblock %}

{% block content %}
    <div class="limited-width">

        <p><a href="/projects/">Back to projects</a></p>

        <div class="project-header">

            <h1>{{ project.metadata.name }}</h1>
            <p>{{ project.metadata.description }}</p>
            {% if project.metadata.github_url %}
                <p><a href="{{ project.metadata.github_url }}" target="_blank">View on GitHub</a></p>
            {% endif %}
        </div>

        {{ project.body_html | safe }}

    </div>


{% endblock %}