<!DOCTYPE html>
<html lang="en">
  <head>
	{% block title %}<title>MakeOpenSource</title>{% endblock %}
    
	<link rel="icon" type="image" href=""/>
    <link rel="stylesheet" type="text/css" href="static/css/makeopensource-style-guide.css" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>

  <body>
    <!-- navigation -->

    <div class="nav">
        <a href="/" class="navlink"><img src="/static/icon.png"></a>
        <a href="/announcements" class="navlink">Announcements</a>
        <a href="/about" class="navlink">About</a>
        <a href="/github" class="navlink">GitHub</a>
        <a href="/discord" class="navlink">Discord</a>
	</div>
    <div class="page">
	    <div class="instructions">{% block content %}{% endblock %}</div>
    </div>

  </body>
</html>
