{% extends "_nav.html" %}
  
{% block content %}
<div>
    <h1>About</h1>

    <h2>Software</h2>
    <div class="program-list">
    {% for program in software %}
        <div class="program">
            <a class="program-link" href="{{ program.url }}">
                <!-- <img src="{{ program.icon }}">-->
                <p>{{ program.name }}</p>
            </a> 
        </div>
    {% endfor %}
    </div>

    <h2>Our Team</h2>

    <div class="admin-list">
    {% for admin in admins %}
        <div class="admin">
            <img src="{{ admin.image }}">
            <div>
                <p class="admin-name">{{ admin.name }}</p>
                <p class="admin-position">{{ admin.position }}</p> 
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %} 
