{% extends "_nav.html" %}
  
{% block content %}
<div>
    <h1>About</h1>

    <h2>Software</h2>
    <div class="program-list">
    {% for program in software %}
        <a class="program-link" href="{{ program.url }}">
            <img src="{{ program.icon }}">
            <p>{{ program.name }}</p>
        </a> 
    {% endfor %}
    </div>

    <h2>Our Team</h2>

    {% for admin in admins %}
        <div class="admin">
            <img src="{{ admin.image }}">
            <p>
                <b>{{ admin.position }}</b><br>
                {{ admin.name }}
            </p>
        </div>
    {% endfor %}
</div>
{% endblock %} 
