{% extends "_nav.html" %}

{% block content %}
<h1>Announcements</h1>

<p>
    A list of all announcements made in our course. Follow our <a href="/about">social media</a>
    to keep up to date!
</p>

{% for ann in announcements %} 
    <div class="discord-announcement">
        {{ ann['createdAt']}}<br>
        <b>{{ ann['author'] }}</b><br><br>
        {{ discordify(ann['message'], channels) }}
        <br>
        {% for url in ann['attachments'] %}
            <img class="discord-attachement" src="{{ url }}">
        {% endfor %}
        <br>
        {% for reaction in ann['reactions'] %}
            <span class="discord-reaction">
            {% if reaction['type'] == 'emoji' %}
                {{ reaction['content'] }} {{ reaction['count'] }}
            {% else %}
                <img src="{{ reaction['content'] }}" width="15" height="15"> {{ reaction['count'] }}
            {% endif %}
            </span>
        {% endfor %}
    </div>
{% endfor %}

{% endblock %}
