{% extends "_nav.html" %}

{% block content %}
<div class="hero">
    Welcome to <b>MakeOpenSource</b>, 
    University at Buffalo's dedicated 
    Open Source club!
</div>

<div>

	<div>
        <h2>Our Mission</h2>
        <p>
            MakeOpenSource's goal is to create a community of programmers 
            and developers (of any skill level!) who can collaborate and 
            contribute to one another's projects.
        </p>

        <h2>Open Source for All</h2>
        <p>
            Just as you don't have to be a computer scientist to have an 
            interest in programming, you don't have to be a computer science 
            major to be a part of MakeOpenSource. If you want to strengthen 
            your programming knowledge, MakeOpenSource's events are a great 
            opportunity to do so.
        </p>
		<h2>Learn More</h2>
		<p>
        To learn more, visit the <a href="/about/">About</a> page or 
        check out our <a href="/github">GitHub</a> page to view our 
        active projects!
		</p>
	</div>

</div>

{% endblock %}
