{% extends 'layouts/main_layout.html' %}

{% block title %}MakeOpenSource{% endblock %}

{% block content %}
    <div class="limited-width w600">
        <h1>Welcome to MakeOpenSource!</h1>

        <p>We are the official student-led open-source programming club within the School of Engineering and
            Applied Sciences (SEAS) at the University at Buffalo (UB). Our goal is to create a community of
            programmers
            and developers (of any skill level) who can collaborate and contribute to open-source projects. The
            club is open to both undergraduate and graduate students. Check out some of our
            <a href="/projects/">projects</a> and join our <a href="/discord/">Discord</a> server to get involved!
        </p>
    </div>
    </div>
{% endblock %}