{% extends 'layouts/main_layout.html' %}

{% block title %}MakeOpenSource{% endblock %}

{% block content %}
    <h1>Welcome to MakeOpenSource!</h1>
    <h1>Welcome to MakeOpenSource!</h1>
    <h1>Welcome to MakeOpenSource!</h1>
    <h1>Welcome to MakeOpenSource!</h1>
    <h1>Welcome to MakeOpenSource!</h1>
    <h1>Welcome to MakeOpenSource!</h1>
    <h1>Welcome to MakeOpenSource!</h1>
    <h1>Welcome to MakeOpenSource!</h1>
    <h1>Welcome to MakeOpenSource!</h1>
    <h1>Welcome to MakeOpenSource!</h1>
    <h1>Welcome to MakeOpenSource!</h1>
    <h1>Welcome to MakeOpenSource!</h1>
    <h1>Welcome to MakeOpenSource!</h1>
    <h1>Welcome to MakeOpenSource!</h1>
    <h1>Welcome to MakeOpenSource!</h1>
    <h1>Welcome to MakeOpenSource!</h1>
    <h1>Welcome to MakeOpenSource!</h1>
    <h1>Welcome to MakeOpenSource!</h1>
    <h1>Welcome to MakeOpenSource!</h1>
    <h1>Welcome to MakeOpenSource!</h1>
    <h1>Welcome to MakeOpenSource!</h1>
    <h1>Welcome to MakeOpenSource!</h1>
    <h1>Welcome to MakeOpenSource!</h1>
    <h1>Welcome to MakeOpenSource!</h1>
    <h1>Welcome to MakeOpenSource!</h1>
    <h1>Welcome to MakeOpenSource!</h1>

{% endblock %}