:root {
    --black: #000;
    --grey: #efefef;
    --lightgrey: #f7f7f7;
    --white: #fff;
    --orange: #f7941d;
    --blue: #002fed;
    --purple: #5500cc;

    --light: 300;
    --text: 400;
    --medium: 500;
    --heavy: 600;
    --xheavy: 700;

    --p1: 15px;
}

b {
    font-weight: 500;
}

.hero {
    font-size: 30px;
    line-height: 3rem;
    padding: 20px 40px;
    background-color: orange;
    font-family: "fira mono";
}

.program-list {
    display: flex;
    flex-wrap: wrap;
}

.program {
    align-items: center;
}

.program-link {
    color: none;
}

.program-link img {
    height: 30px;
    margin-right: 20px;
}

.program-link p {
    margin-right: 20px;
}

.admin-list {
}

.admin {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.admin img {
    height: 80px;
    margin-right: 10px;
    border-radius: 100px;
}

.admin p {
    margin-block-end: 0;
}

.admin-name {
    font-weight: var(--xheavy);
}

.admin-position {
    color: var(--blue);
}

.discord-announcement {
    padding: 20px;
    background-color: var(--lightgrey);
    border-radius: 10px;
    margin: 20px 0;
}

.discord-attachement {
    height: 300px;
    margin: 10px 0;
}

.discord-reaction {
    background-color: var(--grey);
    border-radius: 10px;
    padding: 10px;
    margin: 0 10px 10px 0;
}

.emoji {
    width: 25px;
}

.channel {
    font-weight: var(--heavy);
    color: var(--blue);
    display: inline;
}
